# core
opencv-python-headless==4.7.0.72
numpy==1.26.4
requests==2.31.0
python-dotenv==1.0.0
Flask==2.3.0
Pillow==10.1.0

# ultralytics (yolov8) -> installs weight manager and utilities
ultralytics==8.1.20